In [1]:

import seaborn as sns
import pandas as pd
import numpy as np
from pandas import DataFrame


df=pd.read_csv(r'C:\Users\drmar\Downloads\ExportCSV.csv')
df.head()  #data

,ID,Job Title,Email Address,FirstName LastName,Date And Time
0,1,Operator,Nina_Gonzales610@iatim.tech,Nina Gonzales,6/21/9896
1,2,Inspector,Dakota_Rose6376@atink.com,Dakota Rose,9/6/9482
2,3,Healthcare Specialist,Caleb_Ballard1884@sveldo.biz,Caleb Ballard,5/15/4609
3,4,HR Coordinator,Adeline_Selby3048@elnee.tech,Adeline Selby,7/5/3959
4,5,Treasurer,Adela_Farmer1000@gembat.biz,Adela Farmer,4/10/2671

In [2]:

for col in df.columns:
    missing_percent=np.mean(df[col].isnull())
    print('{}-{}%'.format(col,missing_percent))

ID-0.0%
Job Title-0.0%
Email Address-0.0%
FirstName LastName-0.0%
Date And Time-0.0%

In [3]:
df.dtypes # or can change datatype using df['col_name']=df['col_name'].astype('int64')wherever needed or to object

ID                     int64
Job Title             object
Email Address         object
FirstName LastName    object
Date And Time         object
dtype: object

In [4]:
df.head()

df['last'] = [f"{name.split(' ')[1]}"for name in df['FirstName LastName']]

df.head()

,ID,Job Title,Email Address,FirstName LastName,Date And Time,last
0,1,Operator,Nina_Gonzales610@iatim.tech,Nina Gonzales,6/21/9896,Gonzales
1,2,Inspector,Dakota_Rose6376@atink.com,Dakota Rose,9/6/9482,Rose
2,3,Healthcare Specialist,Caleb_Ballard1884@sveldo.biz,Caleb Ballard,5/15/4609,Ballard
3,4,HR Coordinator,Adeline_Selby3048@elnee.tech,Adeline Selby,7/5/3959,Selby
4,5,Treasurer,Adela_Farmer1000@gembat.biz,Adela Farmer,4/10/2671,Farmer

In [8]:
df.head()

df['last'] = [f"{name.split(' ')[1]}"for name in df['FirstName LastName']]

df.head()

,ID,Job Title,Email Address,FirstName LastName,Date And Time,last
0,1,Operator,Nina_Gonzales610@iatim.tech,Nina Gonzales,6/21/9896,Gonzales
1,2,Inspector,Dakota_Rose6376@atink.com,Dakota Rose,9/6/9482,Rose
2,3,Healthcare Specialist,Caleb_Ballard1884@sveldo.biz,Caleb Ballard,5/15/4609,Ballard
3,4,HR Coordinator,Adeline_Selby3048@elnee.tech,Adeline Selby,7/5/3959,Selby
4,5,Treasurer,Adela_Farmer1000@gembat.biz,Adela Farmer,4/10/2671,Farmer

In [9]:
df.dtypes

ID                     int64
Job Title             object
Email Address         object
FirstName LastName    object
Date And Time         object
last                  object
dtype: object

In [10]:
df.sort_values(by=['ID'],inplace=False,ascending=False)

,ID,Job Title,Email Address,FirstName LastName,Date And Time,last
99,100,IT Support Staff,Sarah_Rowe4894@twace.org,Sarah Rowe,8/30/6185,Rowe
98,99,Executive Director,Amelia_Robertson9778@nimogy.biz,Amelia Robertson,4/4/6535,Robertson
97,98,Business Broker,Elle_Cork1046@gmail.com,Elle Cork,10/27/7167,Cork
96,97,Assistant Buyer,Brad_Tyler5348@muall.tech,Brad Tyler,1/28/7119,Tyler
95,96,HR Coordinator,Drew_Thomson9215@sveldo.biz,Drew Thomson,6/27/6988,Thomson
...,...,...,...,...,...,...
4,5,Treasurer,Adela_Farmer1000@gembat.biz,Adela Farmer,4/10/2671,Farmer
3,4,HR Coordinator,Adeline_Selby3048@elnee.tech,Adeline Selby,7/5/3959,Selby
2,3,Healthcare Specialist,Caleb_Ballard1884@sveldo.biz,Caleb Ballard,5/15/4609,Ballard
1,2,Inspector,Dakota_Rose6376@atink.com,Dakota Rose,9/6/9482,Rose
0,1,Operator,Nina_Gonzales610@iatim.tech,Nina Gonzales,6/21/9896,Gonzales

In [11]:
df.dtypes

ID                     int64
Job Title             object
Email Address         object
FirstName LastName    object
Date And Time         object
last                  object
dtype: object

In [12]:
df.head()

,ID,Job Title,Email Address,FirstName LastName,Date And Time,last
0,1,Operator,Nina_Gonzales610@iatim.tech,Nina Gonzales,6/21/9896,Gonzales
1,2,Inspector,Dakota_Rose6376@atink.com,Dakota Rose,9/6/9482,Rose
2,3,Healthcare Specialist,Caleb_Ballard1884@sveldo.biz,Caleb Ballard,5/15/4609,Ballard
3,4,HR Coordinator,Adeline_Selby3048@elnee.tech,Adeline Selby,7/5/3959,Selby
4,5,Treasurer,Adela_Farmer1000@gembat.biz,Adela Farmer,4/10/2671,Farmer

In [29]:
pd.set_option('display.max_rows',None)

In [30]:
df.sort_values(by=['ID'],inplace=False,ascending=False)

,ID,Job Title,Email Address,FirstName LastName,Date And Time,last
99,100,IT Support Staff,Sarah_Rowe4894@twace.org,Sarah Rowe,8/30/6185,Rowe
98,99,Executive Director,Amelia_Robertson9778@nimogy.biz,Amelia Robertson,4/4/6535,Robertson
97,98,Business Broker,Elle_Cork1046@gmail.com,Elle Cork,10/27/7167,Cork
96,97,Assistant Buyer,Brad_Tyler5348@muall.tech,Brad Tyler,1/28/7119,Tyler
95,96,HR Coordinator,Drew_Thomson9215@sveldo.biz,Drew Thomson,6/27/6988,Thomson
94,95,HR Coordinator,Danielle_Duvall7918@bulaffy.com,Danielle Duvall,10/4/2919,Duvall
93,94,Audiologist,Carter_Thompson258@fuliss.net,Carter Thompson,8/5/0600,Thompson
92,93,Design Engineer,Matt_Vaughan4856@cispeto.com,Matt Vaughan,6/7/3689,Vaughan
91,92,Call Center Representative,Doug_Abbey9857@ovock.tech,Doug Abbey,12/25/0398,Abbey
90,91,Assistant Buyer,Gloria_Michael4@nanoff.biz,Gloria Michael,9/11/7893,Michael
89,90,Investment Advisor,Maia_Ryan4690@ubusive.com,Maia Ryan,12/30/2208,Ryan
88,89,Fabricator,Ronald_Jenkin4665@iatim.tech,Ronald Jenkin,5/28/1714,Jenkin
87,88,Production Painter,Benjamin_Edwards6141@typill.biz,Benjamin Edwards,4/19/2268,Edwards
86,87,Project Manager,Ron_Weatcroft5620@elnee.tech,Ron Weatcroft,1/4/0520,Weatcroft
85,86,Health Educator,Enoch_Vallory9246@ubusive.com,Enoch Vallory,9/17/0298,Vallory
84,85,HR Coordinator,Analise_Shelton6162@cispeto.com,Analise Shelton,1/31/9249,Shelton
83,84,Banker,Makena_Rogan2287@mafthy.com,Makena Rogan,7/10/1269,Rogan
82,83,IT Support Staff,Luke_Thomson9889@muall.tech,Luke Thomson,9/14/6216,Thomson
81,82,Physician,Anais_James6173@guentu.biz,Anais James,3/7/9033,James
80,81,Audiologist,Domenic_Pickard3658@brety.org,Domenic Pickard,6/2/1456,Pickard
79,80,Associate Professor,Gloria_Harris6551@nimogy.biz,Gloria Harris,4/6/3003,Harris
78,79,Cook,Johnny_Scott2947@womeona.net,Johnny Scott,12/23/6906,Scott
77,78,Assistant Buyer,Rocco_Whitmore9434@ubusive.com,Rocco Whitmore,3/29/7723,Whitmore
76,77,Doctor,Emely_Stewart5163@supunk.biz,Emely Stewart,1/29/3754,Stewart
75,76,CNC Operator,Renee_Wright9416@atink.com,Renee Wright,10/19/5839,Wright
74,75,Treasurer,Macy_Jennson236@atink.com,Macy Jennson,5/2/4923,Jennson
73,74,Investment Advisor,Destiny_Purvis1407@gompie.com,Destiny Purvis,3/25/3160,Purvis
72,73,Inspector,Johnny_Forester1692@womeona.net,Johnny Forester,12/12/4390,Forester
71,72,Banker,Rick_Greenwood5268@gembat.biz,Rick Greenwood,7/23/4248,Greenwood
70,71,Auditor,Alexander_Wise1652@qater.org,Alexander Wise,11/7/5490,Wise
69,70,Business Broker,Ryan_Walsh4834@qater.org,Ryan Walsh,3/8/1673,Walsh
68,69,Restaurant Manager,Vera_Summers9240@irrepsy.com,Vera Summers,12/30/2031,Summers
67,68,HR Specialist,Denis_Gray5872@nickia.com,Denis Gray,4/29/6521,Gray
66,67,Banker,Julian_Stewart3256@acrit.org,Julian Stewart,6/14/2166,Stewart
65,66,Ambulatory Nurse,Abdul_Jackson6769@twipet.com,Abdul Jackson,10/6/0168,Jackson
64,65,HR Coordinator,Daphne_Ingram4387@bretoux.com,Daphne Ingram,9/7/4665,Ingram
63,64,CNC Operator,Eduardo_Umney9685@sveldo.biz,Eduardo Umney,1/12/3806,Umney
62,63,Treasurer,Karen_Forth5617@bungar.biz,Karen Forth,5/16/4238,Forth
61,62,Fabricator,Russel_Woodley3897@fuliss.net,Russel Woodley,1/22/4865,Woodley
60,61,Loan Officer,Melody_Partridge9390@naiker.biz,Melody Partridge,7/18/5103,Partridge
59,60,Loan Officer,Ron_Thomas8002@acrit.org,Ron Thomas,5/17/7735,Thomas
58,59,Insurance Broker,Iris_Edmonds6430@bretoux.com,Iris Edmonds,11/21/9456,Edmonds
57,58,Business Broker,William_Ellery1430@iatim.tech,William Ellery,6/11/9656,Ellery
56,57,Chef Manager,Judith_Ulyatt6838@cispeto.com,Judith Ulyatt,6/26/5337,Ulyatt
55,56,Mobile Developer,Shay_Bayliss8265@twipet.com,Shay Bayliss,10/9/1270,Bayliss
54,55,Production Painter,Kimberly_Roscoe7385@muall.tech,Kimberly Roscoe,4/26/8411,Roscoe
53,54,Laboratory Technician,Luke_Thatcher490@mafthy.com,Luke Thatcher,4/24/5210,Thatcher
52,53,Stockbroker,Olivia_Thomas7313@zorer.org,Olivia Thomas,8/30/9796,Thomas
51,52,Banker,Abdul_Holmes6213@supunk.biz,Abdul Holmes,2/26/2710,Holmes
50,51,Operator,Elise_Booth3069@brety.org,Elise Booth,5/28/8519,Booth
49,50,Production Painter,Charlize_Farrow1880@nanoff.biz,Charlize Farrow,12/22/4572,Farrow
48,49,Food Technologist,Tania_Cunningham2977@iatim.tech,Tania Cunningham,7/12/7235,Cunningham
47,48,Business Broker,Michael_Dillon7026@bretoux.com,Michael Dillon,6/16/9838,Dillon
46,47,Software Engineer,Penelope_Simpson5475@infotech44.tech,Penelope Simpson,3/24/0921,Simpson
45,46,Ambulatory Nurse,Carrie_Wright8319@vetan.org,Carrie Wright,7/30/9791,Wright
44,45,Budget Analyst,Denis_Ralph532@gembat.biz,Denis Ralph,2/26/8131,Ralph
43,44,Cash Manager,Jacob_Flack9747@gompie.com,Jacob Flack,4/11/3001,Flack
42,43,Stockbroker,Maxwell_Cassidy3697@eirey.tech,Maxwell Cassidy,12/1/7095,Cassidy
41,42,IT Support Staff,Gil_Donovan9035@naiker.biz,Gil Donovan,2/12/3219,Donovan
40,41,Designer,Carmella_Long2992@deons.tech,Carmella Long,10/9/5975,Long
39,40,Paramedic,Jolene_Hopkinson5825@nanoff.biz,Jolene Hopkinson,10/6/0992,Hopkinson
38,39,CNC Operator,Owen_Edmonds6561@elnee.tech,Owen Edmonds,2/12/6539,Edmonds
37,38,Call Center Representative,Nathan_Andrews3275@sveldo.biz,Nathan Andrews,3/22/8789,Andrews
36,37,CNC Operator,Doris_Groves9505@cispeto.com,Doris Groves,6/22/8044,Groves
35,36,Food Technologist,Evelynn_Farrell6882@atink.com,Evelynn Farrell,11/19/4736,Farrell
34,35,Healthcare Specialist,Brad_Rogers2172@eirey.tech,Brad Rogers,4/27/1007,Rogers
33,34,Cashier,Lana_Lynn4607@atink.com,Lana Lynn,10/12/7403,Lynn
32,33,Fabricator,Willow_Cooper6537@qater.org,Willow Cooper,7/16/9315,Cooper
31,32,Associate Professor,Erin_Kennedy1865@zorer.org,Erin Kennedy,10/9/2016,Kennedy
30,31,Dentist,Candace_Blackburn5033@nimogy.biz,Candace Blackburn,7/31/0967,Blackburn
29,30,Audiologist,Fred_Jackson2924@bungar.biz,Fred Jackson,7/3/4829,Jackson
28,29,Production Painter,Felicity_Cadman269@eirey.tech,Felicity Cadman,1/20/3341,Cadman
27,28,Call Center Representative,Drew_Butler3181@guentu.biz,Drew Butler,4/9/8776,Butler
26,27,Project Manager,Penelope_Archer7128@brety.org,Penelope Archer,9/17/4847,Archer
25,26,HR Coordinator,Elisabeth_Ranks2540@deavo.com,Elisabeth Ranks,1/3/6148,Ranks
24,25,Lecturer,Camila_Stanley8044@sheye.org,Camila Stanley,12/17/6098,Stanley
23,24,Clerk,Samantha_Patel7587@deons.tech,Samantha Patel,12/29/2952,Patel
22,23,Baker,Matt_Dyson5291@hourpy.biz,Matt Dyson,2/1/5345,Dyson
21,22,Retail Trainee,Matthew_Tindall2379@mafthy.com,Matthew Tindall,10/31/8759,Tindall
20,21,Biologist,Chester_Quinnell2231@fuliss.net,Chester Quinnell,12/5/3079,Quinnell
19,20,Front Desk Coordinator,Matthew_Atkinson3948@gembat.biz,Matthew Atkinson,8/8/7569,Atkinson
18,19,Audiologist,Sasha_Nanton7773@twipet.com,Sasha Nanton,3/9/1018,Nanton
17,18,Healthcare Specialist,Emma_May5783@guentu.biz,Emma May,11/7/7776,May
16,17,Fabricator,Chester_Parker5781@mafthy.com,Chester Parker,7/14/1728,Parker
15,16,Doctor,Nicholas_Rose7374@deons.tech,Nicholas Rose,10/11/6048,Rose
14,15,Auditor,Jade_Torres3163@eirey.tech,Jade Torres,11/21/1433,Torres
13,14,Chef Manager,Ivy_Kelly1931@mafthy.com,Ivy Kelly,1/29/0305,Kelly
12,13,Assistant Buyer,Phillip_Edler1032@zorer.org,Phillip Edler,12/3/0132,Edler
11,12,Operator,Matthew_Neal979@gembat.biz,Matthew Neal,5/7/6811,Neal
10,11,Investment Advisor,Carter_Stewart8452@famism.biz,Carter Stewart,1/16/9502,Stewart
9,10,HR Coordinator,Ethan_Stanley6050@infotech44.tech,Ethan Stanley,4/6/7814,Stanley
8,9,Inspector,Javier_John4887@bretoux.com,Javier John,5/11/7569,John
7,8,Web Developer,Julianna_Smith323@twipet.com,Julianna Smith,8/24/9815,Smith
6,7,Operator,Gabriel_Parker2341@grannar.com,Gabriel Parker,5/25/4221,Parker
5,6,Health Educator,Tony_Savage3882@extex.org,Tony Savage,2/11/3261,Savage
4,5,Treasurer,Adela_Farmer1000@gembat.biz,Adela Farmer,4/10/2671,Farmer
3,4,HR Coordinator,Adeline_Selby3048@elnee.tech,Adeline Selby,7/5/3959,Selby
2,3,Healthcare Specialist,Caleb_Ballard1884@sveldo.biz,Caleb Ballard,5/15/4609,Ballard
1,2,Inspector,Dakota_Rose6376@atink.com,Dakota Rose,9/6/9482,Rose
0,1,Operator,Nina_Gonzales610@iatim.tech,Nina Gonzales,6/21/9896,Gonzales

In [27]:
df['ID'].drop_duplicates().sort_values(ascending=False)

99    100
98     99
97     98
96     97
95     96
94     95
93     94
92     93
91     92
90     91
89     90
88     89
87     88
86     87
85     86
84     85
83     84
82     83
81     82
80     81
79     80
78     79
77     78
76     77
75     76
74     75
73     74
72     73
71     72
70     71
69     70
68     69
67     68
66     67
65     66
64     65
63     64
62     63
61     62
60     61
59     60
58     59
57     58
56     57
55     56
54     55
53     54
52     53
51     52
50     51
49     50
48     49
47     48
46     47
45     46
44     45
43     44
42     43
41     42
40     41
39     40
38     39
37     38
36     37
35     36
34     35
33     34
32     33
31     32
30     31
29     30
28     29
27     28
26     27
25     26
24     25
23     24
22     23
21     22
20     21
19     20
18     19
17     18
16     17
15     16
14     15
13     14
12     13
11     12
10     11
9      10
8       9
7       8
6       7
5       6
4       5
3       4
2       3
1       2
0       1
Name: ID, dtype: int64

In [31]:
df['Email Address'].drop_duplicates().sort_values(ascending=True)

51             Abdul_Holmes6213@supunk.biz
65            Abdul_Jackson6769@twipet.com
4              Adela_Farmer1000@gembat.biz
3             Adeline_Selby3048@elnee.tech
70            Alexander_Wise1652@qater.org
98         Amelia_Robertson9778@nimogy.biz
81              Anais_James6173@guentu.biz
84         Analise_Shelton6162@cispeto.com
87         Benjamin_Edwards6141@typill.biz
34              Brad_Rogers2172@eirey.tech
96               Brad_Tyler5348@muall.tech
2             Caleb_Ballard1884@sveldo.biz
24            Camila_Stanley8044@sheye.org
30        Candace_Blackburn5033@nimogy.biz
40            Carmella_Long2992@deons.tech
45             Carrie_Wright8319@vetan.org
10           Carter_Stewart8452@famism.biz
93           Carter_Thompson258@fuliss.net
49          Charlize_Farrow1880@nanoff.biz
16           Chester_Parker5781@mafthy.com
20         Chester_Quinnell2231@fuliss.net
1                Dakota_Rose6376@atink.com
94         Danielle_Duvall7918@bulaffy.com
64           Daphne_Ingram4387@bretoux.com
67               Denis_Gray5872@nickia.com
44               Denis_Ralph532@gembat.biz
73           Destiny_Purvis1407@gompie.com
80           Domenic_Pickard3658@brety.org
36            Doris_Groves9505@cispeto.com
91               Doug_Abbey9857@ovock.tech
27              Drew_Butler3181@guentu.biz
95             Drew_Thomson9215@sveldo.biz
63            Eduardo_Umney9685@sveldo.biz
25           Elisabeth_Ranks2540@deavo.com
50               Elise_Booth3069@brety.org
97                 Elle_Cork1046@gmail.com
76            Emely_Stewart5163@supunk.biz
17                 Emma_May5783@guentu.biz
85           Enoch_Vallory9246@ubusive.com
31              Erin_Kennedy1865@zorer.org
9        Ethan_Stanley6050@infotech44.tech
35           Evelynn_Farrell6882@atink.com
28           Felicity_Cadman269@eirey.tech
29             Fred_Jackson2924@bungar.biz
6           Gabriel_Parker2341@grannar.com
41              Gil_Donovan9035@naiker.biz
79            Gloria_Harris6551@nimogy.biz
90              Gloria_Michael4@nanoff.biz
58            Iris_Edmonds6430@bretoux.com
13                Ivy_Kelly1931@mafthy.com
43              Jacob_Flack9747@gompie.com
14              Jade_Torres3163@eirey.tech
8              Javier_John4887@bretoux.com
72         Johnny_Forester1692@womeona.net
78            Johnny_Scott2947@womeona.net
39         Jolene_Hopkinson5825@nanoff.biz
56           Judith_Ulyatt6838@cispeto.com
66            Julian_Stewart3256@acrit.org
7             Julianna_Smith323@twipet.com
62              Karen_Forth5617@bungar.biz
54          Kimberly_Roscoe7385@muall.tech
33                 Lana_Lynn4607@atink.com
53             Luke_Thatcher490@mafthy.com
82             Luke_Thomson9889@muall.tech
74               Macy_Jennson236@atink.com
89               Maia_Ryan4690@ubusive.com
83             Makena_Rogan2287@mafthy.com
22               Matt_Dyson5291@hourpy.biz
92            Matt_Vaughan4856@cispeto.com
19         Matthew_Atkinson3948@gembat.biz
11              Matthew_Neal979@gembat.biz
21          Matthew_Tindall2379@mafthy.com
42          Maxwell_Cassidy3697@eirey.tech
60         Melody_Partridge9390@naiker.biz
47          Michael_Dillon7026@bretoux.com
37           Nathan_Andrews3275@sveldo.biz
15            Nicholas_Rose7374@deons.tech
0              Nina_Gonzales610@iatim.tech
52             Olivia_Thomas7313@zorer.org
38             Owen_Edmonds6561@elnee.tech
26           Penelope_Archer7128@brety.org
46    Penelope_Simpson5475@infotech44.tech
12             Phillip_Edler1032@zorer.org
75              Renee_Wright9416@atink.com
71           Rick_Greenwood5268@gembat.biz
77          Rocco_Whitmore9434@ubusive.com
59                Ron_Thomas8002@acrit.org
86            Ron_Weatcroft5620@elnee.tech
88            Ronald_Jenkin4665@iatim.tech
61           Russel_Woodley3897@fuliss.net
69                Ryan_Walsh4834@qater.org
23           Samantha_Patel7587@deons.tech
99                Sarah_Rowe4894@twace.org
18             Sasha_Nanton7773@twipet.com
55             Shay_Bayliss8265@twipet.com
48         Tania_Cunningham2977@iatim.tech
5                Tony_Savage3882@extex.org
68            Vera_Summers9240@irrepsy.com
57           William_Ellery1430@iatim.tech
32             Willow_Cooper6537@qater.org
Name: Email Address, dtype: object

In [34]:
df.drop_duplicates()

,ID,Job Title,Email Address,FirstName LastName,Date And Time,last
99,100,IT Support Staff,Sarah_Rowe4894@twace.org,Sarah Rowe,8/30/6185,Rowe
98,99,Executive Director,Amelia_Robertson9778@nimogy.biz,Amelia Robertson,4/4/6535,Robertson
97,98,Business Broker,Elle_Cork1046@gmail.com,Elle Cork,10/27/7167,Cork
96,97,Assistant Buyer,Brad_Tyler5348@muall.tech,Brad Tyler,1/28/7119,Tyler
95,96,HR Coordinator,Drew_Thomson9215@sveldo.biz,Drew Thomson,6/27/6988,Thomson
94,95,HR Coordinator,Danielle_Duvall7918@bulaffy.com,Danielle Duvall,10/4/2919,Duvall
93,94,Audiologist,Carter_Thompson258@fuliss.net,Carter Thompson,8/5/0600,Thompson
92,93,Design Engineer,Matt_Vaughan4856@cispeto.com,Matt Vaughan,6/7/3689,Vaughan
91,92,Call Center Representative,Doug_Abbey9857@ovock.tech,Doug Abbey,12/25/0398,Abbey
90,91,Assistant Buyer,Gloria_Michael4@nanoff.biz,Gloria Michael,9/11/7893,Michael
89,90,Investment Advisor,Maia_Ryan4690@ubusive.com,Maia Ryan,12/30/2208,Ryan
88,89,Fabricator,Ronald_Jenkin4665@iatim.tech,Ronald Jenkin,5/28/1714,Jenkin
87,88,Production Painter,Benjamin_Edwards6141@typill.biz,Benjamin Edwards,4/19/2268,Edwards
86,87,Project Manager,Ron_Weatcroft5620@elnee.tech,Ron Weatcroft,1/4/0520,Weatcroft
85,86,Health Educator,Enoch_Vallory9246@ubusive.com,Enoch Vallory,9/17/0298,Vallory
84,85,HR Coordinator,Analise_Shelton6162@cispeto.com,Analise Shelton,1/31/9249,Shelton
83,84,Banker,Makena_Rogan2287@mafthy.com,Makena Rogan,7/10/1269,Rogan
82,83,IT Support Staff,Luke_Thomson9889@muall.tech,Luke Thomson,9/14/6216,Thomson
81,82,Physician,Anais_James6173@guentu.biz,Anais James,3/7/9033,James
80,81,Audiologist,Domenic_Pickard3658@brety.org,Domenic Pickard,6/2/1456,Pickard
79,80,Associate Professor,Gloria_Harris6551@nimogy.biz,Gloria Harris,4/6/3003,Harris
78,79,Cook,Johnny_Scott2947@womeona.net,Johnny Scott,12/23/6906,Scott
77,78,Assistant Buyer,Rocco_Whitmore9434@ubusive.com,Rocco Whitmore,3/29/7723,Whitmore
76,77,Doctor,Emely_Stewart5163@supunk.biz,Emely Stewart,1/29/3754,Stewart
75,76,CNC Operator,Renee_Wright9416@atink.com,Renee Wright,10/19/5839,Wright
74,75,Treasurer,Macy_Jennson236@atink.com,Macy Jennson,5/2/4923,Jennson
73,74,Investment Advisor,Destiny_Purvis1407@gompie.com,Destiny Purvis,3/25/3160,Purvis
72,73,Inspector,Johnny_Forester1692@womeona.net,Johnny Forester,12/12/4390,Forester
71,72,Banker,Rick_Greenwood5268@gembat.biz,Rick Greenwood,7/23/4248,Greenwood
70,71,Auditor,Alexander_Wise1652@qater.org,Alexander Wise,11/7/5490,Wise
69,70,Business Broker,Ryan_Walsh4834@qater.org,Ryan Walsh,3/8/1673,Walsh
68,69,Restaurant Manager,Vera_Summers9240@irrepsy.com,Vera Summers,12/30/2031,Summers
67,68,HR Specialist,Denis_Gray5872@nickia.com,Denis Gray,4/29/6521,Gray
66,67,Banker,Julian_Stewart3256@acrit.org,Julian Stewart,6/14/2166,Stewart
65,66,Ambulatory Nurse,Abdul_Jackson6769@twipet.com,Abdul Jackson,10/6/0168,Jackson
64,65,HR Coordinator,Daphne_Ingram4387@bretoux.com,Daphne Ingram,9/7/4665,Ingram
63,64,CNC Operator,Eduardo_Umney9685@sveldo.biz,Eduardo Umney,1/12/3806,Umney
62,63,Treasurer,Karen_Forth5617@bungar.biz,Karen Forth,5/16/4238,Forth
61,62,Fabricator,Russel_Woodley3897@fuliss.net,Russel Woodley,1/22/4865,Woodley
60,61,Loan Officer,Melody_Partridge9390@naiker.biz,Melody Partridge,7/18/5103,Partridge
59,60,Loan Officer,Ron_Thomas8002@acrit.org,Ron Thomas,5/17/7735,Thomas
58,59,Insurance Broker,Iris_Edmonds6430@bretoux.com,Iris Edmonds,11/21/9456,Edmonds
57,58,Business Broker,William_Ellery1430@iatim.tech,William Ellery,6/11/9656,Ellery
56,57,Chef Manager,Judith_Ulyatt6838@cispeto.com,Judith Ulyatt,6/26/5337,Ulyatt
55,56,Mobile Developer,Shay_Bayliss8265@twipet.com,Shay Bayliss,10/9/1270,Bayliss
54,55,Production Painter,Kimberly_Roscoe7385@muall.tech,Kimberly Roscoe,4/26/8411,Roscoe
53,54,Laboratory Technician,Luke_Thatcher490@mafthy.com,Luke Thatcher,4/24/5210,Thatcher
52,53,Stockbroker,Olivia_Thomas7313@zorer.org,Olivia Thomas,8/30/9796,Thomas
51,52,Banker,Abdul_Holmes6213@supunk.biz,Abdul Holmes,2/26/2710,Holmes
50,51,Operator,Elise_Booth3069@brety.org,Elise Booth,5/28/8519,Booth
49,50,Production Painter,Charlize_Farrow1880@nanoff.biz,Charlize Farrow,12/22/4572,Farrow
48,49,Food Technologist,Tania_Cunningham2977@iatim.tech,Tania Cunningham,7/12/7235,Cunningham
47,48,Business Broker,Michael_Dillon7026@bretoux.com,Michael Dillon,6/16/9838,Dillon
46,47,Software Engineer,Penelope_Simpson5475@infotech44.tech,Penelope Simpson,3/24/0921,Simpson
45,46,Ambulatory Nurse,Carrie_Wright8319@vetan.org,Carrie Wright,7/30/9791,Wright
44,45,Budget Analyst,Denis_Ralph532@gembat.biz,Denis Ralph,2/26/8131,Ralph
43,44,Cash Manager,Jacob_Flack9747@gompie.com,Jacob Flack,4/11/3001,Flack
42,43,Stockbroker,Maxwell_Cassidy3697@eirey.tech,Maxwell Cassidy,12/1/7095,Cassidy
41,42,IT Support Staff,Gil_Donovan9035@naiker.biz,Gil Donovan,2/12/3219,Donovan
40,41,Designer,Carmella_Long2992@deons.tech,Carmella Long,10/9/5975,Long
39,40,Paramedic,Jolene_Hopkinson5825@nanoff.biz,Jolene Hopkinson,10/6/0992,Hopkinson
38,39,CNC Operator,Owen_Edmonds6561@elnee.tech,Owen Edmonds,2/12/6539,Edmonds
37,38,Call Center Representative,Nathan_Andrews3275@sveldo.biz,Nathan Andrews,3/22/8789,Andrews
36,37,CNC Operator,Doris_Groves9505@cispeto.com,Doris Groves,6/22/8044,Groves
35,36,Food Technologist,Evelynn_Farrell6882@atink.com,Evelynn Farrell,11/19/4736,Farrell
34,35,Healthcare Specialist,Brad_Rogers2172@eirey.tech,Brad Rogers,4/27/1007,Rogers
33,34,Cashier,Lana_Lynn4607@atink.com,Lana Lynn,10/12/7403,Lynn
32,33,Fabricator,Willow_Cooper6537@qater.org,Willow Cooper,7/16/9315,Cooper
31,32,Associate Professor,Erin_Kennedy1865@zorer.org,Erin Kennedy,10/9/2016,Kennedy
30,31,Dentist,Candace_Blackburn5033@nimogy.biz,Candace Blackburn,7/31/0967,Blackburn
29,30,Audiologist,Fred_Jackson2924@bungar.biz,Fred Jackson,7/3/4829,Jackson
28,29,Production Painter,Felicity_Cadman269@eirey.tech,Felicity Cadman,1/20/3341,Cadman
27,28,Call Center Representative,Drew_Butler3181@guentu.biz,Drew Butler,4/9/8776,Butler
26,27,Project Manager,Penelope_Archer7128@brety.org,Penelope Archer,9/17/4847,Archer
25,26,HR Coordinator,Elisabeth_Ranks2540@deavo.com,Elisabeth Ranks,1/3/6148,Ranks
24,25,Lecturer,Camila_Stanley8044@sheye.org,Camila Stanley,12/17/6098,Stanley
23,24,Clerk,Samantha_Patel7587@deons.tech,Samantha Patel,12/29/2952,Patel
22,23,Baker,Matt_Dyson5291@hourpy.biz,Matt Dyson,2/1/5345,Dyson
21,22,Retail Trainee,Matthew_Tindall2379@mafthy.com,Matthew Tindall,10/31/8759,Tindall
20,21,Biologist,Chester_Quinnell2231@fuliss.net,Chester Quinnell,12/5/3079,Quinnell
19,20,Front Desk Coordinator,Matthew_Atkinson3948@gembat.biz,Matthew Atkinson,8/8/7569,Atkinson
18,19,Audiologist,Sasha_Nanton7773@twipet.com,Sasha Nanton,3/9/1018,Nanton
17,18,Healthcare Specialist,Emma_May5783@guentu.biz,Emma May,11/7/7776,May
16,17,Fabricator,Chester_Parker5781@mafthy.com,Chester Parker,7/14/1728,Parker
15,16,Doctor,Nicholas_Rose7374@deons.tech,Nicholas Rose,10/11/6048,Rose
14,15,Auditor,Jade_Torres3163@eirey.tech,Jade Torres,11/21/1433,Torres
13,14,Chef Manager,Ivy_Kelly1931@mafthy.com,Ivy Kelly,1/29/0305,Kelly
12,13,Assistant Buyer,Phillip_Edler1032@zorer.org,Phillip Edler,12/3/0132,Edler
11,12,Operator,Matthew_Neal979@gembat.biz,Matthew Neal,5/7/6811,Neal
10,11,Investment Advisor,Carter_Stewart8452@famism.biz,Carter Stewart,1/16/9502,Stewart
9,10,HR Coordinator,Ethan_Stanley6050@infotech44.tech,Ethan Stanley,4/6/7814,Stanley
8,9,Inspector,Javier_John4887@bretoux.com,Javier John,5/11/7569,John
7,8,Web Developer,Julianna_Smith323@twipet.com,Julianna Smith,8/24/9815,Smith
6,7,Operator,Gabriel_Parker2341@grannar.com,Gabriel Parker,5/25/4221,Parker
5,6,Health Educator,Tony_Savage3882@extex.org,Tony Savage,2/11/3261,Savage
4,5,Treasurer,Adela_Farmer1000@gembat.biz,Adela Farmer,4/10/2671,Farmer
3,4,HR Coordinator,Adeline_Selby3048@elnee.tech,Adeline Selby,7/5/3959,Selby
2,3,Healthcare Specialist,Caleb_Ballard1884@sveldo.biz,Caleb Ballard,5/15/4609,Ballard
1,2,Inspector,Dakota_Rose6376@atink.com,Dakota Rose,9/6/9482,Rose
0,1,Operator,Nina_Gonzales610@iatim.tech,Nina Gonzales,6/21/9896,Gonzales

In [33]:
len(df)

100

In [32]:
df[df.columns[1]].count()#ignoring null values

100

In [20]:
df.head()

,ID,Job Title,Email Address,FirstName LastName,Date And Time,last
99,100,IT Support Staff,Sarah_Rowe4894@twace.org,Sarah Rowe,8/30/6185,Rowe
98,99,Executive Director,Amelia_Robertson9778@nimogy.biz,Amelia Robertson,4/4/6535,Robertson
97,98,Business Broker,Elle_Cork1046@gmail.com,Elle Cork,10/27/7167,Cork
96,97,Assistant Buyer,Brad_Tyler5348@muall.tech,Brad Tyler,1/28/7119,Tyler
95,96,HR Coordinator,Drew_Thomson9215@sveldo.biz,Drew Thomson,6/27/6988,Thomson

In [21]:
df.head(10)

,ID,Job Title,Email Address,FirstName LastName,Date And Time,last
99,100,IT Support Staff,Sarah_Rowe4894@twace.org,Sarah Rowe,8/30/6185,Rowe
98,99,Executive Director,Amelia_Robertson9778@nimogy.biz,Amelia Robertson,4/4/6535,Robertson
97,98,Business Broker,Elle_Cork1046@gmail.com,Elle Cork,10/27/7167,Cork
96,97,Assistant Buyer,Brad_Tyler5348@muall.tech,Brad Tyler,1/28/7119,Tyler
95,96,HR Coordinator,Drew_Thomson9215@sveldo.biz,Drew Thomson,6/27/6988,Thomson
94,95,HR Coordinator,Danielle_Duvall7918@bulaffy.com,Danielle Duvall,10/4/2919,Duvall
93,94,Audiologist,Carter_Thompson258@fuliss.net,Carter Thompson,8/5/0600,Thompson
92,93,Design Engineer,Matt_Vaughan4856@cispeto.com,Matt Vaughan,6/7/3689,Vaughan
91,92,Call Center Representative,Doug_Abbey9857@ovock.tech,Doug Abbey,12/25/0398,Abbey
90,91,Assistant Buyer,Gloria_Michael4@nanoff.biz,Gloria Michael,9/11/7893,Michael

In [ ]:
df.head(10)

In [ ]:
df.drop(80)

In [16]:
df.head()

df['last'] = [f"{name.split(' ')[1]}"for name in df['FirstName LastName']]

df.head()

,ID,Job Title,Email Address,FirstName LastName,Date And Time,last
0,1,Operator,Nina_Gonzales610@iatim.tech,Nina Gonzales,6/21/9896,Gonzales
1,2,Inspector,Dakota_Rose6376@atink.com,Dakota Rose,9/6/9482,Rose
2,3,Healthcare Specialist,Caleb_Ballard1884@sveldo.biz,Caleb Ballard,5/15/4609,Ballard
3,4,HR Coordinator,Adeline_Selby3048@elnee.tech,Adeline Selby,7/5/3959,Selby
4,5,Treasurer,Adela_Farmer1000@gembat.biz,Adela Farmer,4/10/2671,Farmer